/* Styles for Onul Planner */
.planner-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-slot {
  margin-bottom: 10px;

}

.time-slots {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 2fr; /* Two columns: one for time, one for todo list */
  gap: 10px; /* Spacing between columns */
  width: 100%;
  max-width: 600px;
}

.time-slot input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.time-slot .time-label {
  font-weight: bold;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #00000000; /* Light gray background for time labels */
}

.time-slot input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  background-color: #f0f0f0; /* Light gray background for dropdowns */
  color: black; /* Black text for better visibility */
  border: 1px solid #ccc; /* Light border */
  padding: 5px;
  border-radius: 4px;
}

h1 {
  /* 수평 중앙 정렬하기 */
  text-align: center;
}